*{
    font-family: "Kanit", sans-serif;
}


h1, h2, h3, .h1, .h2, .h3{
    font-family: "Genos", sans-serif;
}

.header-custom{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url(Media/bg-1.jpg);
}

main{
    background-color: #3B1E54;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.aulab{
    background-color: #3B1E54;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.aulab-logo{
    width: 400px;
    height: auto;
}

.titolo-aulab{
    color: var(--yl);
}

.footer-custom{
    background-image: url(Media/bg-3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    text-align: left;
}
.img-custom{
    width: 400px;
    height: auto;
}

.col-rt{
    min-height: 100%;
}

.container-custom{
    color: white;
}

.titolone{
    font-size: 60px;
}

.Titolo{
    font-size: 70px;
}

/* ICONS */

i{
    color: var(--yl);
}

/* VARIABILI */

:root{
    --yl: #ffff01;

}

/* BUTTONS */

.iscriviti{
    text-align: center;
}

.iscriviti:hover{
    background-color: var(--yl);
    color:black}
